<?xml version="1.0"?>
<!--

/**
 * Image Fill development helper module.
 *
 * @package   Vbuck_ImageFill
 * @author    Rick Buczynski <me@rickbuczynski.com>
 * @copyright 2015 Rick Buczynski. All Rights Reserved.
 * @version   0.0.1
 */

-->
<config>
    <modules>
        <Vbuck_ImageFill>
            <version>0.0.1</version>
        </Vbuck_ImageFill>
    </modules>
    <default>
        <imagefill>
            <general>
                <placeholder_url><![CDATA[http://placehold.it/128x128&text=NO+IMAGE]]></placeholder_url>
            </general>
        </imagefill>
    </default>
    <global>
        <models>
            <imagefill>
                <class>Vbuck_ImageFill_Model</class>
            </imagefill>
            <core>
                <rewrite>
                    <design_package>Vbuck_ImageFill_Model_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <events>
            <http_response_send_before>
                <observers>
                    <vbuck_imagefill_model_observer>
                        <type>singleton</type>
                        <class>imagefill/observer</class>
                        <method>checkMediaImages</method>
                    </vbuck_imagefill_model_observer>
                </observers>
            </http_response_send_before>
        </events>
    </global>
</config>